#astroid img {
    display: hidden;
}
canvas {
    border: 1px solid black;
    /* height: 100vh; This works for setting canvas to entire page
width: 100vw */
}

body {
    /* body hs a default margin of 8 pixels */
    margin: 0;
}
.mainContainer {
    border: solid;
    height: 97vh;
    width: 98.5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5%;
    padding: .5%;
    background-color: black;
}

.mainContainer>div {
   

}

.character {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: blue;
    border: white 2px solid;
}

.gameTitle {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: red;
    border: white 2px solid;
}

.empty {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color:green;
    border: white 2px solid;
}

.level {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color:olive;
    border: white 2px solid;
}

.score {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color:teal;
    border: white 2px solid;
}

.lives {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color:orchid;
    border: white 2px solid;
}
.inventory {
    grid-column: 3/4;
    grid-row: 2/3;
    
    background-color:powderblue;
    border: white 2px solid;
    flex-direction: row;
    align-items: center;
    align-content: center;

}
.inventory>div {
    border: red solid 2px;
   

}