#astroid img {
    display: hidden;
}
canvas {
    border: 1px solid black;
    /* height: 100vh; This works for setting canvas to entire page
width: 100vw */
}

body {
    /* body hs a default margin of 8 pixels */
    margin: 0;
}